md-content(main-content="flickr"  layout-xs="column" layout="row")
    div( flex-offset-xs="0" flex-offset="25" flex-offset-gt-xs="25" flex-gt-xs="50"  layout="column")
        md-card
            md-card-title
                md-card-title-text
                    span( class="md-headline") {{title}}
            md-card-content( layout="row")
                div( class="md-media-xl card-media")
                    img( md-Lightbox title="{{title}}" image-card ng-src='https://farm{{farmid}}.staticflickr.com/{{serverid}}/{{id}}_{{secret}}.jpg')
                md-card-actions
                    md-button( class="md-fab md-primary" aria-label="Favorite")
                        ng-md-icon( icon="favorite" ng-attr-style="fill: black"    size="48")
                    md-button( class="md-fab md-primary" aria-label="Settings")
                        ng-md-icon( icon="toc" ng-attr-style="fill: black"    size="48")
                    md-button( class="md-fab md-primary" aria-label="Share")
                        ng-md-icon( icon="share" ng-attr-style="fill: black"    size="48")