div(ng-controller="loadImage" flex)
    div(infinite-scroll='loadMore()' infinite-scroll-immediate-check="false"  infinite-scroll-distance='2' )
        div(style='clear: both;')
        md-content(  layout="column" )
            div(ng-if="lastImages.length==0" flex flex-offset="45")
                div(layout="column" layout-align="start start")
                    img( ng-src="/images/loading.gif" )
            div(bindonce  ng-repeat="image in lastImages")
                card-Flickr(title="{{image.title}}" farmid="{{image.farm}}" serverid="{{image.server}}" id="{{image.id}}" secret="{{image.secret}}")
        div(style='clear: both;')